chave do github: https://github.com/quesiavms/Aulas-.NET.git
C:\Users\quesi\OneDrive\.Estagio_TCS\Estagio_Courses\C#\C#.sln
C:\Users\quesi\OneDrive\.Estagio_TCS\Estagio_Courses\C#\shortcut_classes_metodos_c#.jpg